<div>
        <ul class="list3">
            <li>华语男歌手 <span><i class="iconfont icon-gengduo"></i></span></li>
            <li>华语女歌手 <span><i class="iconfont icon-gengduo"></i></span></li>
            <li>华语组合 <span><i class="iconfont icon-gengduo"></i></span></li>
        </ul>
        <ul class="list3">
            <li>日韩男歌手 <span><i class="iconfont icon-gengduo"></i></span></li>
            <li>日韩女歌手 <span><i class="iconfont icon-gengduo"></i></span></li>
            <li>日韩组合 <span><i class="iconfont icon-gengduo"></i></span></li>
        </ul>
        <ul class="list3">
            <li>欧美男歌手男歌手 <span><i class="iconfont icon-gengduo"></i></span></li>
            <li>欧美女歌手 <span><i class="iconfont icon-gengduo"></i></span></li>
            <li>欧美组合 <span><i class="iconfont icon-gengduo"></i></span></li>
        </ul>
        <ul class="list3">
            <li>港台男歌手 <span><i class="iconfont icon-gengduo"></i></span></li>
            <li>港台女歌手 <span><i class="iconfont icon-gengduo"></i></span></li>
            <li>港台组合 <span><i class="iconfont icon-gengduo"></i></span></li>
        </ul>
</div>