<div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="banner"><img src="images/banner.jpg" alt="banner"></div>
            </div>
            <div class="swiper-slide">
                <div class="banner"><img src="images/banner1.jpg" alt="banner"></div>
            </div>
            <div class="swiper-slide">
                <div class="banner"><img src="images/banner2.jpg" alt="banner"></div>
            </div>
            <div class="swiper-slide">
                <div class="banner"><img src="images/banner3.jpg" alt="banner"></div>
            </div>
            <div class="swiper-slide">
                <div class="banner"><img src="images/banner4.jpg" alt="banner"></div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="render">
        <ul class="list2">
            <li ng-repeat="i in data">{{i.songName}}<span  ng-click="dialog()"><i class="{{i.load}}"></i></span></li>
        </ul>
    </div>
</div>